/*general*/

body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
  height: 128px;
}
/*utilities*/
.bg-ieee {
  background-color: #002855;
}

.bg-ieee-2 {
  background-color: #183464;
}

.bg-ieee-3 {
  background-color: #405c7c;
}


.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.fc-benefit {
  color: #FFA300;
}

.color-sec {
  color: #00629B;
}

.tarjeta {
  width: 275px;
}

.banner-ieee {
  clip-path: polygon(50% 0, 100% 0, 100% 50%, 100% 93%, 53% 93%, 50% 100%, 47% 93%, 0 93%, 0 50%, 0 0);
}

/*homepage*/
.img-slider {
  height: 400px;
}

.fecha-tarjeta {
  margin-left: 10px;
  text-align: center;
  color: white;
  width: 30%;
  top: -20px;
  margin-bottom: -55px;
  background-color: #00629B;
}

.btn-rm {
  color: #00629B !important;
}

.btn-rm:hover {
  color: #fff!important;
  background-color: #00629B !important;
  border-color: #00629B !important;
}

.icons-container{
    display: flex;
    margin-top: 0rem;
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
    justify-content: space-around;
}

.social-media-icon{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
}

.social-media-icon:hover{
    background-color: white;
    color: #002855;
}

.social-media-icon i{
    font-size: 2rem;
    margin: 0.45rem 0.45rem;
}
/*contactpage*/
.contact-banner {
  min-height: 330px;
  background-image: url('./components/contactPage/programming-banner.jpg');
  background-size: cover;
  position: relative;
  z-index: 0;
}

.contact-form input[type=text],
.contact-form input[type=number],
.contact-form input[type=email],
.contact-form select,
.contact-form textarea {
  background-color: #AAC7E7;
  color: white;
}

.contact-form input[type=text]::placeholder,
.contact-form input[type=number]::placeholder,
.contact-form input[type=email]::placeholder,
.contact-form textarea::placeholder {
  color: white;
} 

.contact-form textarea:focus {
  background-color: #AAC7E7;
  color: white;
}

.btn-send:hover {
  background-color: #001e41;
}

.btn-select{
  height: 5rem;
  margin-top: 0.3rem;
  text-align: center;
  padding-top: 1.5rem;
  /*position: relative;*/
  background-color: #2F85DC !important;
  color: white !important;
  transition: 0.7s;
  /*transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) !important;*/
}


.btn-select:hover{
  background-color: #001e41 !important;
}

.btn-select-color{
  background-color:#001e41 !important ;
}
/*
.btn-select:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
.btn-select:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	background: #001e41;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}*/

.accordion-item-answer{
  border-bottom: 2px solid #2F85DC;
}

.contact-banner::before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:-1;   
  background:rgba(0, 40, 85, 0.3);
}

.contact-div-content {
  background: rgba(0, 40, 85, 0.69);
}

/*alianzas-beneficios-page*/
.beneficios-container {
  margin-bottom: 100px !important;
}

/*Novedades-Page*/
.novedades, .proyectos{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.proyecto-banner{
  position: relative;
  height: 20rem;
}

.img-bg-banner{ 
  position: absolute;
  width: 100%;
  height: 20rem;
  object-fit: cover;
  z-index: -1;
}

.novedades-titulo, .proyectos-titulo{


  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;

  color: #00629B;
}
.novedades-descripcion, .proyectos-descripcion{
  
  
  margin: 10px 0;

  font-family: Montserrat;
  font-size: 18px;
  line-height: 22px;

  color: #00629B;
}
.novedades-fecha, .proyectos-fecha{
  
  width: 100%;
  
  margin: 10px 0;

  font-family: Montserrat;
  font-size: 18px;
  line-height: 22px;

  color: #8C8C8C;
}
.novedades-baner{
  width: 100%;
  
}
.novedades-baner__imagen{
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}
.novedades-baner__descripcion{


  background: rgba(0, 98, 155, 0.8);

  font-family: Montserrat;
  
  font-size: 18px;
  line-height: 150%;
  text-align:center;

  color: #FFFFFF;
}

.novedades-especificacionimagen, .proyectos-parrafo{
  
  width: 100%;

  font-family: Montserrat;
  font-size: 18px;
  line-height: 22px;

  color: #000000;
}

/*Proyectos-Page*/


.proyectos-subtitulo{
  
  width: 100%;
  margin-top: 0.5rem;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  color: #FFA300;
}
.contenedor-baners{
  display: flex;
  flex-direction: row;
  justify-content:center;
  flex-wrap: wrap;

  width: 800px;
}
.proyectos-baner__imagen{
  width: 250px;
  height: 250px;
  padding: 20px;
}
.proyectos-baner__descripcion{
  width: 250px;
  padding: 0 20px;
}

.carousel-proyecto{
    width: 30rem;
}

/*Nuestras direcciones page*/
.name-direc{
  font-size: 1.7rem;
}
.tittle-direc{
  font-size: 2.5rem;
  margin: 0 0 4rem 0;
}

.sombra-texto {
  padding: 2rem;
  margin-bottom: 3rem;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  -webkit-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
  -moz-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
  box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
}

.contenedor-perfil-direc{
    margin: 8rem 0 10rem 2rem;
    /*max-width: 900px;*/
}

.contenedor-informacion{
  padding: 2rem;
}

/*Alianzas-informacion*/
.background-alianzas{
  width: 100%;
  height: auto;
  background-size: auto;
  background-image: url(./components/alianzasPage/background.png);

}


/*responsive*/

@media (max-width: 1400px) {
  .nb-ieee{
    text-align: center;
    width: 12rem;
  }
}

@media (max-width: 1200px) {
  .icons-footer {
    width: 50%;
  }
}

@media (max-width: 992px) {
  /*h5 {
    font-size: 15px;
  }*/

  .proyecto-content{
    margin-top: 2rem;
  }

  .contenedor-baners{
    width: 600px;
  }
}

@media (max-width: 768px) {
  /*h5 {
    font-size: 10px !important;
  }*/
  .proyecto-content{
    margin-top: 2.5rem;
  }

  .nb-ieee{
    width: 10rem;
  }

  .benefit-icon {
    transition: all 300ms;
    transform: rotate(90deg);
  }

  .nb-ieee{
    width: 10rem;
  }

  .benefit-icon {
    transition: all 300ms;
    transform: rotate(90deg);
  }
}

@media (max-width: 575px) {
  .collapse-questions-item{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 540px) {
  /*h5 {
    font-size: 5px !important;
  }*/
  .icons-footer {
    width: 75% !important;
  }

  .carousel-proyecto{
    width: 25rem;
  }

  .proyecto-content{
    margin-top: 4rem;
  }

  .contenedor-baners{
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;

    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: proximity;
  }

  .contenedor-baners{
    width: 400px;

    scroll-snap-align: center;
  }
}

@media (max-width: 453px){
    .proyecto-banner, .img-bg-banner{
    height: 25rem;
  }

  .carousel-proyecto{
    width: 95%;
  }


}

@media (max-width: 411px){
  /*.nb-ieee img{
    width: 6rem;
  }*/
  .nb-ieee{
    text-align: left;
  }

  .contenedor-baners{
    width: 300px;
  }
}

@media (max-width: 355px){
  .proyecto-banner, .img-bg-banner{
    height: 32rem;
  } 
}