/*general*/

body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

/*utilities*/
.bg-ieee {
  background-color: #002855;
}

.fw-400 {
  font-weight: 400;
}

.color-sec {
  color: #00629B;
}

.tarjeta {
  width: 275px;
}


/*homepage*/
.img-slider {
  height: 400px;
}

.fecha-tarjeta {
  margin-left: 10px;
  text-align: center;
  color: white;
  width: 30%;
  top: -20px;
  margin-bottom: -55px;
  background-color: #00629B;
}

.btn-rm {
  color: #00629B !important;
}

.btn-rm:hover {
  color: #fff!important;
  background-color: #00629B !important;
  border-color: #00629B !important;
}

.icons-container{
    display: flex;
    margin-top: 0rem;
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
    justify-content: space-around;
}

.social-media-icon{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
}

.social-media-icon:hover{
    background-color: white;
    color: #002855;
}

.social-media-icon i{
    font-size: 2rem;
    margin: 0.45rem 0.45rem;
}

/*responsive*/

@media (max-width: 1400px) {
  .nb-ieee{
    text-align: center;
    width: 12rem;
  }
}

@media (max-width: 1200px) {
  .icons-footer {
    width: 50%;
  }
}

@media (max-width: 992px) {
  /*h5 {
    font-size: 15px;
  }*/
}

@media (max-width: 768px) {
  /*h5 {
    font-size: 10px !important;
  }*/
  .nb-ieee{
    width: 10rem;
  }
}

@media (max-width: 576px) {
  /*h5 {
    font-size: 5px !important;
  }*/
  .icons-footer {
    width: 75% !important;
  }
}

@media (max-width: 375px){
  /*.nb-ieee img{
    width: 6rem;
  }*/
  .nb-ieee{
    text-align: left;
  }
}